*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}
header{
    width: 100%;
    height: 1.85rem;
    background: #ffac2c;
    line-height: 1.85rem;
    display: flex;
    justify-content: space-between;
    padding: 0 0.65rem;
    a{
        color: #FFF;
        text-align: left;
        font-size: 1.2rem;
        align-self: center;
    }
    p{
        color: #FFF;
        font-size: 0.8rem;
    }
}
.content{
    overflow: auto;
    flex-grow: 1;
    background: #f5f5f5;
}

.c-left-nian{
    width: 100%;
    padding: 0.4rem 0.5rem;
    color: #acacac;
}
.c-container{
    width: 100%;
    ul{
        width: 100%;
        display: flex;
        flex-flow: column;
        li{
            width: 100%;
            background: #FFF;
            display: flex;
            justify-content: space-between;
            padding: 0.4rem 0.5rem 0.5rem 0.3rem;
            align-items: center;
            border-bottom:0.05rem solid #eeeeee;
            .c-left{
                width: 8%;
                p{
                    width: 1.5rem;
                    height: 1.5rem;
                    line-height: 1.5rem;
                    text-align: center;
                    color: #FFF;
                    font-size: 0.7rem;
                    font-weight: bold;
                    background:#ffac2c;
                    border-radius: 5%;    
                }
            }
            .c-center{
                width: 65%;
                padding-left: 0.7rem;
                div{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    a{
                        padding:0 0.35rem;
                        border: 0.05rem solid #fdb852;
                        border-radius: 1rem;
                    }
                    .a1{
                        border: 0.05rem solid #07cff4;
                        color: #07cff4;
                    }
                    .a2{
                        border: 0.05rem solid #f910e0;
                        color: #f910e0;
                    }
                    span{
                        font-size: 0.65rem;
                        padding: 0 0.25rem;
                        color: #757575;
                    }
                }
                p{
                    color: #616161;
                }
            }
            .c-rigth{
                width: 25%;
                color: #00d80f;
                font-size: 0.7rem;
                margin-top: 0.25rem;
                text-align: right;
            }
            .c-rigth1{
                width: 25%;
                color: #f82900;
                font-size: 0.7rem;
                margin-top: 0.25rem;
                text-align: right;
            }
            .c-left1{
                width: 8%;
                p{
                    width: 1.5rem;
                    height: 1.5rem;
                    line-height: 1.5rem;
                    text-align: center;
                    color: #FFF;
                    font-size: 0.7rem;
                    font-weight: bold;
                    background:#fa592a;
                    border-radius: 5%;    
                }
            }
            &:first-child{
                border-top:0.05rem solid #eeeeee;
            }
        }
    }
}



.c-cont-stat{
    position: fixed;
    top: 1.75rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}
.c-cont-stat1{
    width: 100%;
    background: #FFF;
    padding: 0 0.65rem;
    display: flex;flex-flow: column;
    .stat_1{
        width: 100%;
        padding: 1.1rem 0 0.85rem;
        a{
            display: block;
            width: 4.55rem;
            height: 1.7rem;
            text-align: center;
            line-height: 1.7rem;
            background: #ffad2d;
            font-size: 0.7rem;
            color: #FFF;
            border-radius: 0.25rem;
        }
    }
    .stat_2{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i{
            width: 40%;
            display: block;
            height: 0.05rem;
            background: #efefef;
        }
        p{
            width: 10%;
            color:#efefef;
        }
    }
    .stat_3{
        width: 100%;
        padding: 1.1rem 0 1.65rem;
        display: flex;
        a{
            display: block;
            width: 4.55rem;
            height: 1.7rem;
            line-height: 1.7rem;
            background: #e0e0e0;
            margin-right:0.65rem;
            border-radius:0.25rem;
            text-align: center;
        }
    }
}
