.head{
    background: #FFAC2E;
    height: 37px;
    position: relative;
    a{
        line-height: 37px;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 15px;
        color: #FFFFFF;
        padding-left: 10px;
    }
    p{
        font-size: 15px;
        text-align: center;
        line-height: 37px;
        color: #FFFFFF;
    }
}
.xiu{
    p{
        height: 36px;
        background: #F5F5F5;
        line-height: 36px;
        padding-left: 10px;
        color: #8F8F8F;
        font-size: 12px;
    }
}
.box{
    background: #F5F5F5;
    height: 24.25rem;
    
    .pasd{
        background: #FFFFFF;
        height: 36px;
        line-height: 36px;
        border-top:1px solid #EAEAEA ;
        border-bottom:1px solid #EAEAEA ;
        display: flex;
        justify-content: space-between;
        .pasd-a1{
          padding-left: 13px;
        }
            .pasd-a2{
              padding-right: 14px;
            }
    }
    .phone{
        background: #FFFFFF;
        height: 36px;
        line-height: 36px;
        border-bottom:1px solid #EAEAEA ;
        display: flex;
        justify-content: space-between;
        .phone-a1{
          padding-left: 13px;
        }
        .phone-a2{
          padding-right: 14px;
        }
    }
}

