<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="format-detection" content="telephone=no,email=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="stylesheet" type="text/css" href="../css/phone/phone.css"/>
		<link rel="stylesheet" type="text/css" href="../css/base.css"/>
		<link rel="stylesheet" type="text/css" href="../iconfont/iconfont.css"/>
	</head>
	<body ng-controller="aa">
		<div class="head">
			<a href="#" class="iconfont icon-back" ng-click="backh()"></a>
			<p>手机验证</p>
		</div>
		<div class="xiu">
			<p>验证短信已发送到手机号为:</p>
			<h2>186****1524</h2>
		</div>
		<div class="box">
			<div class="pasd">
				<a href="#" class="pasd-a1">
					<input type="password" placeholder="输入原登录密码" />
					<a href="#" class="phone-a" ng-click="send()">{{date}}</a>
				</a>
			</div>
			<div class="submit">
				<a href="new_pasd.html">确定</a>
			</div>
		</div>
	</body>
	<script src="../js/jquery-3.1.1.min.js"></script>
	<script src="../js/angular-1.4.6.min.js"></script>
	<script src="../js/resolution.js"></script>
	<script src="../js/password.js"></script>
	<script src="../js/phone.js"></script>
</html>
